# Flutter/Dart specific
.dart_tool/
.buildlog/
.packages
.pub/
.idea/
build/
*.iml

# VSCode
.vscode/

# Android/iOS build outputs
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/

# Others
*.log
